*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  background: #010b21;
  color: #fff;
}

.content{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media(max-width: 700px){
  .content{
    height: auto;
  }
}